.side-nav {
    background: var(--bg-secondary);
    padding-top: 2em;
    width: 25vw;
    height: 100vh;
    position: fixed;
    overflow: scroll;
}

.side-nav {
    background: var(--bg-secondary);
    padding-top: 2em;
}

.side-nav .nav-title {
    display: block;
}

.side-nav .menu-button {
    height: 2em;
    width: 2em;
    background-color: black;
    display: none;
}

@media only screen and (max-width: 1200px) {
    .side-nav {
        width: 35vw;
    }
}

@media only screen and (max-width: 768px) {
    .side-nav {
        width: 100%;
        height: 100%;
        padding-bottom: 2em;
        overflow: inherit;
        position: inherit;
    }
}

.side-nav ul li {
    list-style: none;
    padding-right: 2em;
}

.nav-link {
    color: var(--nav-link-primary);
    text-decoration: none;
}

a.nav-link:hover {
    color: var(--nav-link-hover);
}

a.clickable.nav-link.nav-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

a.clickable.nav-link.nav-header .expand-collapse-icon {
    font-weight: 200;
    transform: rotate(45deg);
    /* transition: 0.3s linear; */
    transform-origin: center center;
    display: none;
}

a.clickable.nav-link.nav-header.active .expand-collapse-icon.loaded {
    transform: rotate(0deg);
}

a.clickable.nav-link.nav-header .expand-collapse-icon.loaded {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.clickable.nav-link.nav-header .expand-collapse-icon.loaded svg {
    width: 1em;
    height: 1em;
}

a.clickable.nav-link.nav-header .expand-collapse-icon.loaded svg .expand-icon {
    fill: var(--nav-link-primary);
    width: 100%;
    height: 100%;
}

a.clickable.nav-link.nav-header .expand-collapse-icon.loaded svg .expand-icon.active {
    fill: var(--nav-link-secondary);
}

li {
    list-style-position: inside;
}

.li-title {
    text-transform: capitalize;
    font-weight: 700;
}

li.sec-container.active .collapse-menu {
    display: block;
}

li.sec-container.active .collapse-menu {
    display: none;
}